@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;/* x軸のスクロールさせなくする */
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items:center;
  justify-content:center;
  width: 400px;
  height:200px;
  margin:10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
  /* animtion向け設定 */
  transform: translateX(200%);/* off set初期値　set to 400% or it will show on wide screens */
  transition: transform 0.4s ease;
}

/* 交互に出現させるための指示 */
.box:nth-of-type(even) {/* even は交互に選択 set to 400% or it will show on wide screens */
  transform: translateX(-200%);
}
.box.show {
  transform: translateX(0);/* 出現時のポジション */
}

.box h2 {
  font-size: 45px;
}